<!-- app/templates/profile.html -->
{% extends "base.html" %}

{% block title %}{{user.username}}{% endblock %}

{% block main %}
<div class="container_profile">
    <table class="info_profile">
        <tr>
            <td rowspan="3">
                <img class="img_profile" src="{{ url_for('static', filename='images/' + avatar) }}" alt="Аватар пользователя">
            </td>
            <td class="profile_username">
                <h1>{{user.username}}</h1>
            </td>
            <td style="vertical-align: top;">
                <a href="{{ url_for('edit_profile', user_id=user.id) }}"><img class="img_edit_profile" src="{{url_for('static', filename='images/edit_profile.png')}}"></a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Создан: {{user.created_at}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Почта: {{user.email}}</p>
            </td>
        </tr>
    </table>
</div>
<div class="container_post">
    <h1>Мои посты</h1>
</div>
{% endblock %}
