# Игнорировать файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Игнорировать виртуальную среду
venv/

# Игнорировать файлы базы данных (их следует управлять отдельно)
*.db

# Игнорировать папку instance (часто используется для конфигурации приложения)
instance/

# Игнорировать файлы, специфичные для IDE
.idea/
*.iml

# Игнорировать папки сборки/дистрибуции
build/
dist/

# Игнорировать временные файлы
*.swp
*.tmp
*~

# Игнорировать логи
*.log
logs/

# Игнорировать кэш статических файлов
static/cache/

# Игнорировать потенциально чувствительные файлы
.env
config.py

# Игнорировать requirements.txt (он может часто меняться)
requirements.txt
