/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=WindSong:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 20px;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 100px;
}

main {
    padding: 10px 20px;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.container_profile {
    background-color: #333;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-top: 4px;
    width: 810px;
    border-radius: 50px 0;
}

.container_post {
    background-color: #333;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-top: 4px;
    width: 810px;
    border-radius: 0 50px;
}

.search-container {
    width: 820px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 50px 0;
    background-color: #333;
    display: flex;
    align-items: center;
}

.search-container input {
    background-color: #ccc;
    flex: 1;
    padding: 10px;
    margin: 0 25px 0 25px;
    border-radius: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.posts {
    background-color: #333;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-top: 4px;
    width: 810px;
    border-radius: 0 50px;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Imperial Script', cursive;
    font-style: normal;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    vertical-align: middle;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
nav img {
    width: 30px;
    height: 30px;
}

/*profile.html*/

.container_profile .img_profile {
  padding-top: 20px;
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.container_profile h1 {
  padding-right: 30px;
  width: auto;
  text-align: left;
}

.info_profile {
  width: 800px;
  margin: auto;
  text-align: left;
}

.info_profile td {
  text-align: left;
}

.info_profile h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.img_edit_profile {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

/*edit_profile.html*/

.container_edit_profile {
    background-color: #333;
    margin-top: 20px;
    padding: 1px 30px 30px 30px;
    border-radius: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #45a049;
}