<!DOCTYPE html>
<html>
<head>
    <title>Редактирование поста</title>
</head>
<body>
    <h1>Редактирование поста</h1>
    <form method="POST">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" value="{{ post.title }}" required><br>
        <label for="content">Содержание:</label><br>
        <textarea id="content" name="content" required>{{ post.content }}</textarea><br><br>
        <input type="submit" value="Сохранить изменения">
    </form>
</body>
</html>